/* @import */

/*-------- RESET ---------*/
*{
    box-sizing: border-box; /* resringir as caixas com seus respectivos tamanhos para não transbordar suas medidas */
    
    margin: 0;
    padding: 0;
    list-style: none; /* Remove os marcadores de lista */
}

/* ------ ESTILOS GERAIS ------ */
/* Definimos a fonte padrão e a cor de fundo */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #222;
    line-height: 1.6; /* espaçamento entre linhas */
} 

body>header{
    background-color: #8a8bb6;
    color: #f1f1ff;
    padding: 10px 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

body>header h1{
    letter-spacing: 10px;
}

/* ------ NAVEGAÇÃO (NAV) ------*/

nav ul{

display: flex; /* Torna a lista horizontal */
gap: 18px; /* Cria um espaço entre os objetos */
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;

}
nav a:hover{
    text-decoration: underline;
    color: #711f8a;
}

/* ------ CONTEÚDO PRINCIPAL (MAIN) ------ */

main{
    padding: 2.5rem; /* Preenchimento das laterais internas */
    max-width: 1100px; /* Limita a largura para não ficar esticado em telas wide */
    margin: 0 auto; /* Centraliza o main na tela (só funciona com o width) */
    
    /* LAYOUT INTERNO */
    display: flex;
     flex-wrap: wrap; /* Quebra linha se não couber */
    gap: 20px;
}

/* ARTIGO (ARTICLE) onde fica o texto principal Flex 3; Ocupa 3 partes do espaço */

article{
    flex: 3;
    min-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

article section{
    margin: 16px 0;
}

/* ------ Titúlos das seções ------ */

article h2,
article h3{
    color: #6768a8;
    margin-bottom: 16px;
}

/* ------ Listas personalizadas ------ */

article ul,
article ol{
    margin-left: 20px;
    border-left: 2px solid #805fbd;
    padding-left: 15px;
} 

figure{
    margin: 16px;
    text-align: center;
    padding: 20px;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;    
}

figure img{
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0 80%;
    border-radius: 7px;
}

figcaption{
    font-style: italic;
    color: #6c6c6c;

}

aside{
    flex: 1;
    min-width: 250px;
    background-color: #c8c8eb;
    padding: 20px;
    border-radius: 7px;
    height: fit-content; /* Altura ajustada ao conteúdo */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
   
}

aside h2{
    line-height: 1,3; /* Entre linhas */
    margin-bottom: 16px;
}

details{
    margin-bottom: 14px;
    cursor: pointer;
    background-color: #a6a6e4;
    border-radius: 6px;
    border-left: solid purple;
    padding: 10px;
}

details[open] summary{
    margin-bottom: 10px;
}

summary{
    font-weight: bold;
}

mark{
    background-color: #c8c8eb;
}
footer{
    background-color: #333;
    text-align: center;
    color: white;
    padding: 20px;
}

footer a{
    color: #8a8bb6;
}

footer a:hover{
    text-decoration: underline;
}

/* ------ INICIO DO ESTILO DA PAGINA FOTOS ------ */

/* HEADER SEGUE ACIMA */

/* INICIO MAIN-FOTOS */

#main-fotos header,
#main-fotos{
    margin-bottom: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
