/* RESET CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
header{
    background-color: lightskyblue;
    border-radius: 7px;
    text-align: center;
    padding: 20px 0;
}
body{
    /* background-color: lightblue; */
    background-image: url(textura\ cat.jpg);
    background-size: 325px;
}
h1{
    font-size: 50px;
    background-color: lightcyan;
    color: darkblue;
}

/* ESPAÇO RESERVADO PARA O MENU DE NAVEGAÇÃO */
nav ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}
nav a{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
}
nav a:hover{
    background-color: antiquewhite;
    text-decoration: underline;
}
/* FIM DO MENU DE NAVEGAÇÃO */

main{
max-width: 960px;
margin: auto;
padding: 30px;
border-right: 10px solid black;
border-left: 10px solid black;
border-bottom: 10px solid black;
}
article{
    margin-bottom: 30px;
}
h2{
    font-size: 25px;
    margin-bottom: 5px;
}
h3{
    margin-top: 15px;
}
figure{
    background-color: azure;
    padding: 10px;
    border: 3px solid lightcyan;
    border-radius: 10px;
    margin: 20px auto;
}
figure img{
    width: 100%;
}
footer{
    background-color: grey;
    padding: 40px;
    text-align: center;
    color: white;
}
footer p{
    margin-bottom: 20px;
}
footer a{
    color: white;
    padding: 10px;
}
footer a:hover{
    background-color: rgb(97, 88, 77);
}
figcaption{
    text-align: left;
}