body{
    background-color: #b0c5d6;

}

label{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    background-color: #6d6dff;
    color: #000000;
    border-color: #b0c5d6;
    border-radius: 10px;
}